.logo-image {
  height:20px;
}

.nav-header-list {
  margin: 0;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-header-list:first-child{
  padding-left:20px;
}

.nav-header-list > li {
  padding-right: 20px;
  display: inline;
  list-style-type: none;
}

.nav-header-menu {
  background: rgb(50, 100, 200);
}
